.btn {
	border: none;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 700;
	padding: 0.6rem 2.5rem;
	text-align: center;
	cursor: pointer;
}

.btn__classic {
	background-color: var(--white);
	border: 3px solid var(--dark01);
}

.btn__classic:hover {
	background: var(--gradient01);
	border: 3px solid var(--light01);
	box-shadow: -7px 7px 0 0 var(--text);
}

.btn__dark--uppercase {
	background-color: var(--text);
	color: var(--white);
	font-weight: 700;
	padding: 1rem 3rem;
	text-transform: uppercase;
	text-align: center;
}

.btn__dark {
	background-color: var(--text);
	color: var(--white);
	font-weight: 400;
	padding: 1.5rem 3rem;
	text-align: center;
}

.btn--shadow01 {
	box-shadow: -7px 7px 0 0 var(--accent01);
}

.btn--shadow02 {
	box-shadow: -7px 7px 0 0 var(--accent02);
}

@media screen and (max-width: 1040px) {
	.navbar .btn__burguer {
		padding: 0;
	}
}
