.btn {
	border: none;
	font-size: 1.6rem;
	font-weight: 700;
	padding: 0.6rem 2.5rem;
	text-align: center;
}

.btn__classic {
	background-color: var(--white);
	border: 3px solid var(--dark01);
}

.btn__classic:hover {
	background: var(--gradient01);
	border: 3px solid var(--light01);
	box-shadow: -7px 7px 0 0 var(--text);
}

.btn__dark {
	background-color: var(--text);
	color: var(--white);
	font-weight: 700;
	padding: 1rem 3rem;
	text-transform: uppercase;
	text-align: center;
}

.btn__dark--accent01 {
	background-color: var(--text);
	box-shadow: -7px 7px 0 0 var(--accent01);
	color: var(--white);
	font-weight: 400;
	padding: 1rem 3rem;
	text-align: center;
}
