.crew {
	margin-top: 8rem;
}

.crew .crew__header {
	text-align: center;
}

.crew .crew__body {
	margin: 8rem 0;
	display: grid;
	justify-content: center;
	justify-items: center;
	align-items: center;
	row-gap: 12rem;
	grid-template-columns: repeat(auto-fit, minmax(36.5rem, 1fr));
}
