
.footer__list .header {
	color: var(--white);
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 3rem;
}

.footer__list .item {
	margin-bottom: 2rem;
}

.footer__list a {
	color: var(--dark02);
}
