@use '../abstracts/index' as *;

.navbar,
.navbar__logo,
.navbar__items,
.navbar__btn {
	display: flex;
}

.navbar {
	font-size: 1.6rem;
	margin-top: 6rem;
	margin-bottom: 6rem;
	position: relative;

	.navbar__logo {
		align-items: center;
	}

	.navbar__items {
		display: flex;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
		background-color: $white;
	}

	.navbar__item {
		margin: 0 2rem;
	}

	.navbar__btn {
		align-items: center;
	}

	.btn__join-mobile {
		display: none;
	}

	.btn__burguer {
		display: none;
	}
}

@media screen and (max-width: 1040px) {
	.navbar {
		max-width: 780px;
	}
}

@media screen and (max-width: 770px) {
	.navbar {
		font-size: 2rem;
		justify-content: space-between;

		.navbar__items {
			display: none;
			flex-direction: column;
			height: 100vh;
			justify-content: center;
			left: 0;
			padding: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		.items--expanded {
			display: flex;
		}

		.items--expanded::before {
			content: '';
			position: absolute;
			width: 100vw;
			height: 100vh;
			background-color: $white;
			z-index: -1;
		}

		.navbar__item {
			margin: 3rem 0;
		}

		.btn__join-desktop {
			display: none;
		}

		.btn__join-mobile {
			display: inline;
		}

		.btn__burguer {
			display: inline-block;
			z-index: 2;
		}
	}
}
