<section class="requirements container">
	<section class="requirements__header">
		<a href="#" class="hashtag">#Requirements</a>
		<h1 class="title">Make sure you check these before applying</h1>
	</section>
	<section class="requirements__body grid--1x3">
		<section class="card">
			<section class="card__logo card--health"></section>
			<p class="card__header">Health</p>
			<p class="card__body">Good Physical and mental health</p>
			<a class="btn btn__classic">See details</a>
		</section>
		<section class="card">
			<section class="card__logo card--education"></section>
			<p class="card__header">Education</p>
			<p class="card__body">Must have at least one Master’s degree.</p>
			<a class="btn btn__classic">See details</a>
		</section>
		<section class="card">
			<section class="card__logo card--citizenship"></section>
			<p class="card__header">Citizenship</p>
			<p class="card__body">Valid documentation required.</p>
			<a class="btn btn__classic">See details</a>
		</section>
	</section>
</section>
