<div class="frame">
	<picture class="frame__picture">
		<source
			type="image/webp"
			srcset="images/astronaut.webp 1x, images/astronaut@2x.webp 2x, images/astronaut@3x.webp 3x"
		/>
		<source type="image/png" srcset="images/astronaut.png 1x, images/astronaut@2x.png 2x, images/astronaut@3x.png 3x" />
		<img class="frame__image image01" src="images/astronaut.png" alt="An astronaut holding his helmet." />
	</picture>
	<section class="frame__quote">
		<p class="text">“Curiosity is the essence of our existence.”</p>
		<p class="author">– Gene Cernan.</p>
	</section>
</div>

<div class="frame">
	<picture class="frame__picture">
		<source type="image/webp" srcset="images/galaxy.webp 1x, images/galaxy@2x.webp 2x, images/galaxy@3x.webp 3x" />
		<source type="image/png" srcset="images/galaxy.png 1x, images/galaxy@2x.png 2x, images/galaxy@3x.png 3x" />
		<img class="frame__image image02" src="images/galaxy.png" alt="An astronaut holding his helmet." />
	</picture>
</div>
