@use '../abstracts/index' as *;

.btn {
	border: none;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 700;
	padding: 0.6rem 2.5rem;
	text-align: center;
	cursor: pointer;
}

.btn__classic {
	background-color: $white;
	border: 3px solid $dark01;

	&:hover {
		background: $gradient01;
		border: 3px solid $light01;
		box-shadow: -7px 7px 0 0 $dark07;
	}
}

.btn__dark {
	background-color: $dark07;
	color: $white;
	font-weight: 400;
	padding: 1.5rem 3rem;
	text-align: center;
}

.btn__dark--uppercase {
	background-color: $dark07;
	color: $white;
	font-weight: 700;
	padding: 1rem 3rem;
	text-transform: uppercase;
	text-align: center;
}

.btn--shadow01 {
	box-shadow: -7px 7px 0 0 $accent01;
}

.btn--shadow02 {
	box-shadow: -7px 7px 0 0 $accent02;
}

@media screen and (max-width: 1040px) {
	.navbar {
		.btn__burguer {
			padding: 0;
		}
	}
}
