.grid--1x2 {
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(2, 1fr);
}

.grid--1x3 {
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
}

footer {
	.grid--1x3 {
		justify-items: start;
		column-gap: 3rem;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
}

@media screen and (max-width: 1040px) {
	.grid--1x2 {
		grid-template-columns: repeat(1, 1fr);
		gap: 7rem;
	}

	.grid--1x3 {
		grid-template-columns: repeat(2, 1fr);
		gap: 8rem;
	}
}

@media screen and (max-width: 740px) {
	.grid--1x3 {
		grid-template-columns: repeat(1, 1fr);
		gap: 8rem;
	}
}
