@use '../abstracts/index' as *;

.footer__list {
	.header {
		color: $white;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 3rem;
	}

	.item {
		margin-bottom: 2rem;

		a {
			color: $dark02;
		}
	}
}
