@use '../abstracts/index' as *;

.profile-card {
	box-shadow: $shadow01;
	max-width: 365px;

	.profile-card__body {
		padding: 2rem 2rem 3rem;
		color: $dark07;
	}

	.profile-name {
		font-size: 3.6rem;
		font-weight: 700;
		margin: 0 0 1.5rem 0;
	}

	.profile-position {
		margin: 0;
		color: $dark03;
	}
}

.profile-card__header {
	img {
		width: 100%;
	}
}

@media screen and (max-width: 370px) {
	.profile-card {
		width: 90%;
	}
}
