$accent01: #c4a9ff;
$accent02: #efb7b7;
$white: #fff;
$light01: #ffe8e8;
$dark01: #e4e4e4; /* navbar: button border */
$dark02: #aaa; /* footer: list items */
$dark03: #9f9f9f; /* crew: profile cards description */
$dark04: #9a9a9a; /* hero: quote name */
$dark05: #666; /* anchor tags */
$dark06: #444; /* profile cards description */
$dark07: #222; /* primary */
$gradient01: linear-gradient(97.69deg, #ffeaea 0%, #e3e0fd 100%); /* classic button gradient */
$gradient02: linear-gradient(160.64deg, #b5bcff 16.7%, #e09dff 109.55%); /* magic underline */
$gradient03: linear-gradient(180deg, #fafafa 0%, #ffffff 27.6%); /* crew section background */
$gradient04: linear-gradient(120deg, var(--accent01) 0%, var(--accent01) 100%); /* callout */
$shadow01: 0px 4px 20px rgba(0, 0, 0, 0.05); /* Profile cards */
$shadow02: 0px 2px 20px rgba(0, 0, 0, 0.15); /* Callout */
